<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample">
    <test name="Test Basics 1">
        <classes>
            <class name="MainTest"/>
        </classes>
    </test>
    <test name="Test Basics 2">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="MainTest"/>
        </classes>
    </test>
</suite>